@charset 'utf-8';

/*CSS Document*/

/*      TABLE OF CONTENT
=================================

1.0 - Reset
2.0 - General styles
    2.1 - Clearfix
3.0 - Header styles
4.0 - Body styles
5.0 - Footer styles
6.0 - Media Queries
    6.1 - max 1260px
    6.2 - max 1000px
    6.3 - max 730px
    6.4 - max 590px
    6.5 - max 440px

=================================*/


/*      1.0 - CSS reset
---------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,
tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    font: inherit;
    font-size: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,main,section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/*      2.0 - General styles
---------------------------------*/

html {
    overflow-y: scroll;
    font-size: 62.5%;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', Helvetica, Arial;
    font-size: 1.5rem;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2.3rem;
    font-weight: 400;
}

p {
    line-height: 1.6;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ##### 2.1 - Clearfix */

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

/*      3.0 - Header styles
---------------------------------*/

.header {
    width: 100%;
    margin-bottom: 120px;
    padding-top: 150px;
    border-bottom: 1px solid #c1c1c1;
    background-color: #fff;
}

.avatar {
    width: 220px;
    height: 220px;
    margin: 0 auto 20px;
    cursor: pointer;
}

.location,
.tagline,
.name,
.skills {
    display: block;
    padding-bottom: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #333;
}

.name {
    font-weight: 700;
}

.location {
    color: #999;
    font-size: 1.5rem;
    font-weight: 400;
}

.tagline {
    text-transform: none;
    font-weight: 300;
}

.skills{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 0;
    color: #888;
}

.primary-nav {
    position: relative;
    top: 25px;
    z-index: 100;
    overflow: hidden;
    width: 55%;
    max-width: 1380px;
    margin: 0 auto;
}

.primary-nav__item {
    float: left;
    width: 20%;
    background-color: #f45c43;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-right: 2px solid #fff;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: context-menu;
}

.primary-nav__item:hover {
    background-color: #e32d0d;
}

.wordpress{
    border-right: initial;
}

/*      4.0 - Body styles
---------------------------------*/

.page-home {
    color: #555;
    border-top: 3px solid #f45c43;
    background-color: #f2f5f8;
}

.page-body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.work-title{
    font-size: 3.5rem;
    text-align: center;
    font-weight: 300;
}

.dash{
    width: 30px;
    display: block;
    margin: 15px auto 40px;
    height: 1px;
    background: #555;

}

.project{
    margin-bottom: 40px;
    background-color: #E6ECF2;
}

.project__image{
    float: left;
    width: 53%;
    border-right: 5px solid #f2f5f8;
}

.project__info{
    padding: 25px;
    float: right;
    width: 47%;
}

.project__title{
    text-align: center;
    margin-bottom: 15px;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #F45C68;
}

.project__description{
    margin-bottom: 40px;
}

.project__description a{
    color: #F45C68;
}

.project__button{
    display: block;
    font-size: 2rem;
    text-align: center;
    width: 150px;
    padding: 13px;
    margin: 0 auto;
    color: white;
    background-color: #777;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid #777;
    transition: all 0.2s ease-out;
}

.project__button:hover{
    color: #F45C68;
    background: #f2f5f8;
    border: 2px solid #F45C68;
}

.week{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
    vertical-align: middle;
    color: black;
}

/*      5.0 - Footer styles
---------------------------------*/

.footer {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 10px;
    border-top: 1px solid #c1c1c1;
}

.copyright {
    text-align: center;
    font-weight: 400;
}

.social-media {
    width: 128px;
    margin: 10px auto 0;
}

.social-media__icon {
    display: inline;
    cursor: pointer;
}

/*      6.0 - Media queries
---------------------------------*/

@media only screen and (max-width: 1260px) {
    .primary-nav {
        width: 70%;
    }
}

@media only screen and (max-width: 1000px) {

    .primary-nav {
        width: 690px;
    }

    .header{
        margin-bottom: 100px;
    }

    .project{
        padding-bottom: 25px;
    }

    .project__info,
    .project__image{
        float: none;
        width: 80%;
        margin: 0 auto;
    }

    .project__info{
        padding: 25px 10px 20px;
    }

    .project__image{
        border: initial;
    }

    .project__description{
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 730px) {
    .header {
        padding-top: 100px;
    }

    .page-body {
        width: 95%;
    }

    .primary-nav__item {
        width: 33.33%;
    }

    .primary-nav {
        position: static;
        width: 95%;
        margin-top: 10px;
    }

    .primary-nav__item a {
        padding: 10px;
    }

    .primary-nav__item:nth-child(4),
    .primary-nav__item:nth-child(5) {
        width: 50%;
        margin-top: 5px;
    }

    .clients {
        border-right: 2px solid #fff;
    }
}



@media only screen and (max-width: 610px) {

    .tagline{
        font-size: 2.6rem;
    }

    .project__info,
    .project__image{
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {

    .tagline{
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 440px) {

    .header {
        width: 98%;
        padding-top: 50px;
        padding-right: 1%;
        padding-left: 1%;
    }

    .header:after {
        content: '';
        position: relative;
        top: 28px;
        display: block;
        width: 0;
        height: 0;
        margin: 0 auto;
        border-width: 18px 18px 0 18px;
        border-style: solid;
        border-color: #f45c43 transparent transparent transparent;
    }

    .tagline{
        font-size: 1.9rem;
        letter-spacing: -1px;
    }

    .primary-nav {
        display: none;
    }

    .skills{
        display: none;
    }

    .footer {
        margin-top: 50px;
    }

    .copyright {
        font-size: 1.1rem;
    }
}
